.form {
    width: 20rem;
    padding: 2rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 11px 12px 5px -6px rgba(179, 173, 179, 0.66);
    -moz-box-shadow: 11px 12px 5px -6px rgba(179, 173, 179, 0.66);
    box-shadow: 11px 12px 5px -6px rgba(179, 173, 179, 0.66);
}